@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

body {
    width: 100vw;
    min-height: 100vh;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

header .nav-bar {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.nav-bar .logo a{
    font-weight: 700;
    font-size: 2em;
    margin: 0 100px;
}

.nav-bar .nav-items {
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
}

.nav-bar .nav-items a {
    font-size: 1.4em;
}

.nav-bar .nav-items a:not(:last-child) {
    margin: 0 45px;
}

.main {
    width: 100%;
    position: relative;
    top: 100px;
}

.store {
    margin: 20px 50px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 15%);
    place-content: center;
    column-gap: 2em;
    row-gap: 2em;
}

.product {
    width: 100%;
}

.product img {
    width: 100%;
    border-radius: 10px;
}
.product-description {
    margin: 5px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart .items{
    margin: 20px 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.cart .cart-item {
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.cart .cart-item img {
    width: 35%;
    border-radius: 10px;
}



.cart-actions i {
    background: #03a9fc;
    border-radius: 50%;
    padding-top: 2px;
    
}

.checkout .items{
    margin: 20px 100px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 15%);
    column-gap: 300px;
    row-gap: 50px;
}
.checkout .items i {
    transition: 0.3s ease;
}
.checkout .items i:hover {
    color: #ab050b;
    font-size: 1.5em;
}

.cart .cart-btns {
    margin: 20px 100px;
}

.checkout .summary {
    margin: 50px 50px;
}

.summary button:last-child i:hover {
    transform: translateX(-20px);
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px 70px;
}

form p, form ul {
    display: flex;
    flex-direction: column;
    margin: 20px 70px;
}

ul {
    list-style: none;
}

form p input {
    width: 45%;
    border-radius: 5px;
}

form button {
    width: 25%;
    margin: 20px 70px;
}

form span, form li {
    color: #2e6144;
}

form select {
    width: 25%;
}

.user-shops, .shop-dashboard {
    margin: 20px 100px;
}



.shop-name {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop-name h1 {
    margin-right: 20px;
}

.shop-name .logo {
    font-size: 2.5em;
    font-family: 'Dancing Script', cursive;
}

.actions a {
    margin-left: 15px;
}

.shop-dashboard .store {
    margin: 50px 0; 
}