{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class='cart'>
    <div class="items">  
        <div class="cart-item">
            <img src="{% static 'images/placeholder.png' %}" alt="placeholder">
            
            <div class="item-desc">
                <h2>Earing (2)</h2>
                <p>@ksh 25</p>
                <p>Total: ksh 50</p>
            </div>
            <div class="cart-actions">
                <i class="uil uil-plus"></i>
                <i class="uil uil-minus"></i>
            </div>
            
        </div>

        <div class="cart-item">
            <img src="{% static 'images/placeholder.png' %}" alt="placeholder">
            
            <div class="item-desc">
                <h2>Earing (2)</h2>
                <p>@ksh 25</p>
                <p>Total: ksh 50</p>
            </div>
            <div class="cart-actions">
                <i class="uil uil-plus"></i>
                <i class="uil uil-minus"></i>
            </div>
            
        </div>
        <div class="cart-item">
            <img src="{% static 'images/placeholder.png' %}" alt="placeholder">
            
            <div class="item-desc">
                <h2>Earing (2)</h2>
                <p>@ksh 25</p>
                <p>Total: ksh 50</p>
            </div>
            <div class="cart-actions">
                <i class="uil uil-plus"></i>
                <i class="uil uil-minus"></i>
            </div>
            
        </div>
        <div class="cart-item">
            <img src="{% static 'images/placeholder.png' %}" alt="placeholder">
            
            <div class="item-desc">
                <h2>Earing (2)</h2>
                <p>@ksh 25</p>
                <p>Total: ksh 50</p>
            </div>
            <div class="cart-actions">
                <i class="uil uil-plus"></i>
                <i class="uil uil-minus"></i>
            </div>
            
        </div>
        <div class="cart-item">
            <img src="{% static 'images/placeholder.png' %}" alt="placeholder">
            
            <div class="item-desc">
                <h2>Earing (2)</h2>
                <p>@ksh 25</p>
                <p>Total: ksh 50</p>
            </div>
            <div class="cart-actions">
                <i class="uil uil-plus"></i>
                <i class="uil uil-minus"></i>
            </div>
            
        </div>
        <div class="cart-item">
            <img src="{% static 'images/placeholder.png' %}" alt="placeholder">
            
            <div class="item-desc">
                <h2>Earing (2)</h2>
                <p>@ksh 25</p>
                <p>Total: ksh 50</p>
            </div>
            <div class="cart-actions">
                <i class="uil uil-plus"></i>
                <i class="uil uil-minus"></i>
            </div>
            
        </div>
        <div class="cart-item">
            <img src="{% static 'images/placeholder.png' %}" alt="placeholder">
            
            <div class="item-desc">
                <h2>Earing (2)</h2>
                <p>@ksh 25</p>
                <p>Total: ksh 50</p>
            </div>
            <div class="cart-actions">
                <i class="uil uil-plus"></i>
                <i class="uil uil-minus"></i>
            </div>
            
        </div>
        <div class="cart-item">
            <img src="{% static 'images/placeholder.png' %}" alt="placeholder">
            
            <div class="item-desc">
                <h2>Earing (2)</h2>
                <p>@ksh 25</p>
                <p>Total: ksh 50</p>
            </div>
            <div class="cart-actions">
                <i class="uil uil-plus"></i>
                <i class="uil uil-minus"></i>
            </div>
            
        </div>
    </div>

    
</div>


{% endblock %}