{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class='cart'>
    <div class="items">  

        {% for item in cart_items %}
            <div class="cart-item">
                {% if item.product.image %}
                <img src="{{item.product.image_url}}" alt="placeholder">
                {% else %}
                    <img src="{% static 'images/placeholder.png' %}" alt="placeholder">
                {% endif %}
                
                <div class="item-desc">
                    <h2>{{item.product.name}} ({{item.quantity}})</h2>
                    <p>@ksh 25</p>
                    <p>Total: ksh 50</p>
                </div>
                <div class="cart-actions">
                    <i class="uil uil-plus update-cart" data-product="{{item.product.id}}" data-action="add"></i>
                    <i class="uil uil-minus update-cart" data-product="{{item.product.id}}" data-action="remove"></i>
                </div>            
            </div>
        {% endfor %}
       
    </div>

    
</div>


{% endblock %}