{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="checkout">

    <div class="items">
        <div class="checkout-item">
            <h2>Earing(2) @ksh25</h2>
            <p>Total: ksh 50</p>
            <i class="uil uil-trash-alt"></i>
        </div>
        <div class="checkout-item">
            <h2>Earing(2) @ksh25</h2>
            <p>Total: ksh 50</p>
            <i class="uil uil-trash-alt"></i>
        </div>
        <div class="checkout-item">
            <h2>Earing(2) @ksh25</h2>
            <p>Total: ksh 50</p>
            <i class="uil uil-trash-alt"></i>
        </div>
        <div class="checkout-item">
            <h2>Earing(2) @ksh25</h2>
            <p>Total: ksh 50</p>
            <i class="uil uil-trash-alt"></i>
        </div>
        <div class="checkout-item">
            <h2>Earing(2) @ksh25</h2>
            <p>Total: ksh 50</p>
            <i class="uil uil-trash-alt"></i>
        </div>
        <div class="checkout-item">
            <h2>Earing(2) @ksh25</h2>
            <p>Total: ksh 50</p>
            <i class="uil uil-trash-alt"></i>
        </div>
    </div>

    <div class="summary">
        <h2>Total: ksh 1000</h2>
        <button class="btn btn-outline-success"><i class="uil uil-money-bill"></i>Complete Order</button>
        <button class="btn"><i class="uil uil-arrow-left"></i> Back to cart</button>
    </div>

    
</div>




{% endblock %}