{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="home products-section">
    <div class="product">
        <img src="{% static 'images/placeholder.png' %}" alt="" class="product-image">
        <div>
            <div class="product-desc">
                <p class="product-name">Earing</p>
                <p class="product-price">Ksh 25</p>
            </div>
            <div class="product-action">
                <a href="" class="view-product btn btn-outline-primary">View</a>
                <a href="" class="add-2-cart btn btn-primary"><img src="{% static 'images/add-cart.png' %}" alt=""></a>
            </div>
        </div>    
    </div>

    <div class="product">
        <img src="{% static 'images/placeholder.png' %}" alt="" class="product-image">
        <div>
            <div class="product-desc">
                <p class="product-name">Earing</p>
                <p class="product-price">Ksh 25</p>
            </div>
            <div class="product-action">
                <a href="" class="view-product btn btn-outline-primary">View</a>
                <a href="" class="add-2-cart btn btn-primary"><img src="{% static 'images/add-cart.png' %}" alt=""></a>
            </div>
        </div>    
    </div>

    <div class="product">
        <img src="{% static 'images/placeholder.png' %}" alt="" class="product-image">
        <div>
            <div class="product-desc">
                <p class="product-name">Earing</p>
                <p class="product-price">Ksh 25</p>
            </div>
            <div class="product-action">
                <a href="" class="view-product btn btn-outline-primary">View</a>
                <a href="" class="add-2-cart btn btn-primary"><img src="{% static 'images/add-cart.png' %}" alt=""></a>
            </div>
        </div>    
    </div>

    <div class="product">
        <img src="{% static 'images/placeholder.png' %}" alt="" class="product-image">
        <div>
            <div class="product-desc">
                <p class="product-name">Earing</p>
                <p class="product-price">Ksh 25</p>
            </div>
            <div class="product-action">
                <a href="" class="view-product btn btn-outline-primary">View</a>
                <a href="" class="add-2-cart btn btn-primary"><img src="{% static 'images/add-cart.png' %}" alt=""></a>
            </div>
        </div>    
    </div>

    <div class="product">
        <img src="{% static 'images/placeholder.png' %}" alt="" class="product-image">
        <div>
            <div class="product-desc">
                <p class="product-name">Earing</p>
                <p class="product-price">Ksh 25</p>
            </div>
            <div class="product-action">
                <a href="" class="view-product btn btn-outline-primary">View</a>
                <a href="" class="add-2-cart btn btn-primary"><img src="{% static 'images/add-cart.png' %}" alt=""></a>
            </div>
        </div>    
    </div>
</section>
{% endblock %}