{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="store">
    
    
        <div class="product">
            <img src="{% static 'images/placeholder.png' %}" alt="placeholder">
            <div class="product-description border-top">
                <div>
                    <h3>Earing</h3>
                    <p>Price: ksh 25</p>
                </div>
                
                <div class="btn-group">
                    <button class='btn btn-sm btn-primary update-cart' data-action='add' data-product={{product.id}}>Add</button>
                    <button class="btn btn-sm btn-outline-success update-cart">View</button>
                </div>   
            </div>
        </div>
        <div class="product">
            <img src="{% static 'images/placeholder.png' %}" alt="placeholder">
            <div class="product-description border-top">
                <div>
                    <h3>Earing</h3>
                    <p>Price: ksh 25</p>
                </div>
                
                <div class="btn-group">
                    <button class='btn btn-sm btn-primary update-cart' data-action='add' data-product={{product.id}}>Add</button>
                    <button class="btn btn-sm btn-outline-success update-cart">View</button>
                </div>   
            </div>
        </div>
        <div class="product">
            <img src="{% static 'images/placeholder.png' %}" alt="placeholder">
            <div class="product-description border-top">
                <div>
                    <h3>Earing</h3>
                    <p>Price: ksh 25</p>
                </div>
                
                <div class="btn-group">
                    <button class='btn btn-sm btn-primary update-cart' data-action='add' data-product={{product.id}}>Add</button>
                    <button class="btn btn-sm btn-outline-success update-cart">View</button>
                </div>   
            </div>
        </div>
        <div class="product">
            <img src="{% static 'images/placeholder.png' %}" alt="placeholder">
            <div class="product-description border-top">
                <div>
                    <h3>Earing</h3>
                    <p>Price: ksh 25</p>
                </div>
                
                <div class="btn-group">
                    <button class='btn btn-sm btn-primary update-cart' data-action='add' data-product={{product.id}}>Add</button>
                    <button class="btn btn-sm btn-outline-success update-cart">View</button>
                </div>   
            </div>
        </div>
        <div class="product">
            <img src="{% static 'images/placeholder.png' %}" alt="placeholder">
            <div class="product-description border-top">
                <div>
                    <h3>Earing</h3>
                    <p>Price: ksh 25</p>
                </div>
                
                <div class="btn-group">
                    <button class='btn btn-sm btn-primary update-cart' data-action='add' data-product={{product.id}}>Add</button>
                    <button class="btn btn-sm btn-outline-success update-cart">View</button>
                </div>   
            </div>
        </div>
        <div class="product">
            <img src="{% static 'images/placeholder.png' %}" alt="placeholder">
            <div class="product-description border-top">
                <div>
                    <h3>Earing</h3>
                    <p>Price: ksh 25</p>
                </div>
                
                <div class="btn-group">
                    <button class='btn btn-sm btn-primary update-cart' data-action='add' data-product={{product.id}}>Add</button>
                    <button class="btn btn-sm btn-outline-success update-cart">View</button>
                </div>   
            </div>
        </div>
        <div class="product">
            <img src="{% static 'images/placeholder.png' %}" alt="placeholder">
            <div class="product-description border-top">
                <div>
                    <h3>Earing</h3>
                    <p>Price: ksh 25</p>
                </div>
                
                <div class="btn-group">
                    <button class='btn btn-sm btn-primary update-cart' data-action='add' data-product={{product.id}}>Add</button>
                    <button class="btn btn-sm btn-outline-success update-cart">View</button>
                </div>   
            </div>
        </div>
        <div class="product">
            <img src="{% static 'images/placeholder.png' %}" alt="placeholder">
            <div class="product-description border-top">
                <div>
                    <h3>Earing</h3>
                    <p>Price: ksh 25</p>
                </div>
                
                <div class="btn-group">
                    <button class='btn btn-sm btn-primary update-cart' data-action='add' data-product={{product.id}}>Add</button>
                    <button class="btn btn-sm btn-outline-success update-cart">View</button>
                </div>   
            </div>
        </div>
        <div class="product">
            <img src="{% static 'images/placeholder.png' %}" alt="placeholder">
            <div class="product-description border-top">
                <div>
                    <h3>Earing</h3>
                    <p>Price: ksh 25</p>
                </div>
                
                <div class="btn-group">
                    <button class='btn btn-sm btn-primary update-cart' data-action='add' data-product={{product.id}}>Add</button>
                    <button class="btn btn-sm btn-outline-success update-cart">View</button>
                </div>   
            </div>
        </div>
        <div class="product">
            <img src="{% static 'images/placeholder.png' %}" alt="placeholder">
            <div class="product-description border-top">
                <div>
                    <h3>Earing</h3>
                    <p>Price: ksh 25</p>
                </div>
                
                <div class="btn-group">
                    <button class='btn btn-sm btn-primary update-cart' data-action='add' data-product={{product.id}}>Add</button>
                    <button class="btn btn-sm btn-outline-success update-cart">View</button>
                </div>   
            </div>
        </div>
        <div class="product">
            <img src="{% static 'images/placeholder.png' %}" alt="placeholder">
            <div class="product-description border-top">
                <div>
                    <h3>Earing</h3>
                    <p>Price: ksh 25</p>
                </div>
                
                <div class="btn-group">
                    <button class='btn btn-sm btn-primary update-cart' data-action='add' data-product={{product.id}}>Add</button>
                    <button class="btn btn-sm btn-outline-success update-cart">View</button>
                </div>   
            </div>
        </div>
        <div class="product">
            <img src="{% static 'images/placeholder.png' %}" alt="placeholder">
            <div class="product-description border-top">
                <div>
                    <h3>Earing</h3>
                    <p>Price: ksh 25</p>
                </div>
                
                <div class="btn-group">
                    <button class='btn btn-sm btn-primary update-cart' data-action='add' data-product={{product.id}}>Add</button>
                    <button class="btn btn-sm btn-outline-success update-cart">View</button>
                </div>   
            </div>
        </div>
        <div class="product">
            <img src="{% static 'images/placeholder.png' %}" alt="placeholder">
            <div class="product-description border-top">
                <div>
                    <h3>Earing</h3>
                    <p>Price: ksh 25</p>
                </div>
                
                <div class="btn-group">
                    <button class='btn btn-sm btn-primary update-cart' data-action='add' data-product={{product.id}}>Add</button>
                    <button class="btn btn-sm btn-outline-success update-cart">View</button>
                </div>   
            </div>
        </div>
        <div class="product">
            <img src="{% static 'images/placeholder.png' %}" alt="placeholder">
            <div class="product-description border-top">
                <div>
                    <h3>Earing</h3>
                    <p>Price: ksh 25</p>
                </div>
                
                <div class="btn-group">
                    <button class='btn btn-sm btn-primary update-cart' data-action='add' data-product={{product.id}}>Add</button>
                    <button class="btn btn-sm btn-outline-success update-cart">View</button>
                </div>   
            </div>
        </div>

      
</div>



{% endblock %}