{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="store">
    
    {% for product in products %}
        <div class="product">
            {% if product.image %}
                <img src="{{product.image_url}}" alt="placeholder">
            {% else %}
                <img src="{% static 'images/placeholder.png' %}" alt="placeholder">
            {% endif %}
            <div class="product-description border-top">
                <div>
                    <h3>{{product.name}}</h3>
                    <p>Price: ksh {{product.price}}</p>
                </div>
                
                <div class="btn-group">
                    <button class='btn btn-sm btn-primary update-cart' data-action='add' data-product={{product.id}}>Add</button>
                    <button class="btn btn-sm btn-outline-success update-cart">View</button>
                </div>   
            </div>
        </div>
        {% endfor %}
        
      
</div>



{% endblock %}